.nav-bar {
  display: flex;
  background-color: gray;
  color: white;
  align-items: stretch;
  padding: 0 1rem;
  position: sticky;
  top:0%;
}

.nav-bar ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.site-icon {
  font-size: 2rem;
  padding-right: 1rem;
}

.nav-bar a {
  text-decoration: none;
  color: white;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

.nav-bar li.active {
  background-color: rgb(71, 70, 70);
  pointer-events: none;
  
}

.nav-bar li:hover {
  background-color: lightgrey;
}

.logout-button {
  background-color: gray;
  border: none;
  font-size: medium;
  margin-left: auto;
}

.logout-button:hover {
  background-color: lightgray;
}

.logout-button:active {
  background-color: rgb(71, 70, 70);
  border: none;
}
