.mangaInfo-page {
  padding-top: 3dvh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:aqua;
}


.cover-cell {
  height: 750px;
  min-width: 500px;
  flex-shrink: 1;
}

.summary-box {
  word-wrap: break-word;
  width: 80%;
  background-color: white;
  margin: 0 auto;
}