.App {
  width: 100%;
  min-height: calc(100vh - 100px);
  background-color: #f2f2f2;
}

.page-wrapper {
  max-width: 1440px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.web-header {
  background-color: rgb(95, 95, 232);
  height: 100px;
  display: flex;
  position: sticky;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  top: 0%
}