.mcard-container {
  max-width: 210px;
  height: 300px;
  background-color: aqua;
  margin-top: 10px;
  border: 1px solid gray;
  border-radius: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin: 0;
  text-overflow: ellipsis;
  height: fit-content;
  width: 210px;
  overflow: hidden;
  white-space: nowrap;
  width: 200px;
  text-align: center;
}

.full-title {
  display: none;
}

.image-cell {
  width: 210px;
  height: 245px;
  border-radius: 0%;
}

.mcard-container:hover {
  cursor: pointer;
}